<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>Meteo gRPC client</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="rawtab" id="meteo_data">
                    <table>
                        <thead>
                            <tr>
                                {% for col_name in col_names %}
                                <th>{{col_name}}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for record in meteo_data_json %}
                            <tr id="table_row">
                                {% for col_name in col_names %}
                                <td>{{ record[col_name] }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>